<div class="boldtext text-center mt-3">
    <p>{{timeLeft}} Time Left.........</p>
</div>

<div class="boldtext text-center mt-3">
    <p>{{text}}</p>
</div>


<div *ngFor="let item of newwords">
    {{item}}
  </div>
  <router-outlet></router-outlet>